<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidos a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <script src="https://kit.fontawesome.com/345ee2f2d6.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="css/normalize.css">
        <script src="/js/formulario.js" ></script>
    </head>
    <body>
        <header class="main-header">
            <div class="top-header">
                <div class="logo"> 
                    <a href="./"><img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre"></a>
                    
                </div>
                <form class="busquedad" action="#" method="GET">
                    <input id="busqueda" name="busquedad" placeholder="Buscar productos, marcas y más">

                    <button class="button_header" type="submit"><i class=" fa fa-search"></i></button>
    
                </form>
                <div class="comprame">
                    <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
                </div>
                
            </div>
            <nav class="barra">
                <ul>
                    <li><a href="#">Ofertas</a><i class="fas fa-search-dollar"></i></li> 
                    <li><a href="#">Tiendas Oficiales   </a></li>
                    <li><a href="#">Vender</a> <i class="fas fa-file-invoice-dollar"></i> </li> 
                    <li><a href="#">Ayuda</a><i class="fas fa-hands-helping"></i></li> 
                </ul>
                <ul >
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>
        <main class="register">
            <form class="formulario" action="/" method="POST">
                <input type="text" name="name" id ="name"placeholder="Nombre y apellido">
                <br><br><br>
                <input type="text" name="user" id="username" placeholder="Nombre de usuario"></i>
                <br><br><br>
                <input type="email" name="email" id="email"placeholder="E-mail">
                <br><br><br>
            
                <label for="birth_date"><b>Fecha de nacimiento</b></label><br>
                <br>
                <input type="date" name="birth_date" id="birth_date"><br>
                <br><br>
                <input type="text" name="addres" placeholder="Domicilio"> <br>
                <br><br>
                <h4>Perfil del usuario</h4> <br>
                <div class="profile">
                    <input type="radio" name="profile" value="buy" id="buy">
                    <label for="buy">Comprador</label> 
                    <input type="radio" name="profile" value="sell" id="sell">
                    <label for="sell">Vendedor</label> 
                </div> <br>

                <h4>Intereses</h4>  <br><br>
                <div class="interests">
                    <div>
                        <input type="checkbox" name="interests" value="a" id="a">
                        <label for="a">Electro</label> 
                    </div> <br><br>
                    <div>
                        <input type="checkbox" name="interests" value="b" id="b">
                        <label for="b">Moda</label> 
                    </div> <br><br>
                    <div>
                        <input type="checkbox" name="interests" value="c" id="c">
                        <label for="c">Hogar</label>
                    </div> <br><br>
                    <div>
                        <input type="checkbox" name="interests" value="d" id="d">
                        <label for="d">Juguetería</label><br>
                    </div> <br><br>
                    <div> 
                        <input type="checkbox" name="interests" value="e" id="e">
                        <label for="e">Vida sana</label><br>
                       
                    </div> <br>
                </div>
                
                <h4>Elegí tu foto de usuario</h4> <br>
                <input type="file" name="avatar">
                <br>
                <br>

            <div class="formulario_grupo" id="grupo_password">
              
                <div class="formulario_grupo_input">
                    <input type="password" class="formulario_input" name="password" id="password" placeholder="Elegí tu contraseña">
                    <br>
                    <br>
                    </div>
            </div>


                <input type="password" name="pass_confirm" placeholder="Confirmá tu contraseña">
                

            <br>
            <br>
        
                <button  type="submit" class="enviar" onclick="validarformulario()">Enviar</button>
                <span id="demo"></span>
                <button type="reset" class="reiniciar">Borrar</button>
           
        
            </form>
        </main>
    
        <footer class="foot">    
            <div class="creditcard">
                <i class="fas fa-credit-card"></i>
            </div>
             
                    <h1 class="h"><b>Pagá con tarjeta o en efectivo</b> </h1>
                    <p class="p"> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                    </p>  
     
             <div class="gift">
                <i class="fas fa-gift"></i>
             </div>
             
                        <h1 class="h"><b>Envío gratis desde $2500</b></h1>
                        <p class="p">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
            <div class="shield">

                <i class="fas fa-user-shield"></i>
            </div>
            
            <h1 class="h"><b>Seguridad de principio a fin</b></h1>
            <p class="pe"> ¿No te gusta?¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            <p><b>Copyright © 1999-2020 MercadoLiebre S.R.L.</b></p>
        </footer>
    </body>
</html>